html {
    font-family: 'Outfit', sans-serif;
    color: #FFFFFF;
    background: #151C1F;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    font-family: 'Outfit', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #151C1F;
}

nav ul li {
    float: right;
}

.logo {
    float: left;
}

.logo a:hover {
    background-color: #151C1F;
}

nav ul li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;

}

nav ul li a:hover {
    background-color: #92E3A9;
}

nav ul li span {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: background-color 2s;

}

nav ul li span:hover {
    background-color: #92E3A9;
}

main {
    margin: 20px;
    padding: 10px;
}

.tagLine {
    width: 50%;
    margin: 5px 0;
    float: left;
    font-weight: 700;
    font-size: 64px;
}

.tagLine p {
    padding: 10px;

}

.heroVector {
    width: 50%;
    margin: 10px 0;
    float: right;
}

#landingVector {
    max-width: 80%;
    height: auto;
    float: right;
}

.btn {

    background-color: #92E3A9;
    font-weight: 400;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn a {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
}

#mainPanel {
    display: block;
    margin: 10px 0;
}

/*****************************************************************************
Flash Messages
******************************************************************************/

.alert {
    padding: 15px;
    background-color: #92E3A9;
    color: white;
}

.error {
    background-color: #f44336;
}

.warning {
    background-color: #FFC107;
}

.info {
    background-color: #92E3A9;
}

.messages {
    background-color: #92E3A9;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/**************************************************************************
  Card 
  *************************************************************************/
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.itemCard {
    /* Add shadows to create the "card" effect */
    -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    transition: 0.3s;
    border-radius: 0px;
    width: 15%;
    min-width: 200px;
    margin: 10px;
    float: left;

}

.itemCard:hover {
    -webkit-filter: brightness(30%);
    filter: brightness(30%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.itemCard img {
    
    /* position: absolute; */
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    width: 100%;
    height: 20vw;
}

.itemCard .container {
    line-height: 1.5em;
    height: 4.5em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
    text-align: center;
    text-overflow:ellipsis;
}


.loginBox {
    width: 50%;
    padding: 30px;
}

.cardLink {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
}

/**************************************************************************
 Form Components
*************************************************************************/
input[type=text] {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #92E3A9;
}

input[type=text]:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #000000;
}

input[type=password] {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #92E3A9;
}

input[type=password]:focus {

    outline: none;
    border: none;
    border-bottom: 2px solid #000000;
}

input[type=submit] {
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #92E3A9;
    border-radius: 25px;
}

input[type=submit]:hover {
    border: 2px solid #000000;
}


/**************************************************************************
  Background color classes
  *************************************************************************/
.white {
    background-color: #FFFFFF;
    color: #000000;
}

/**************************************************************************
  Anime Details classes
  *************************************************************************/

.anime-poster {
    width: 25%;
    height: 35vw;
    float: left;
    object-fit: cover;
    padding: 10px;
    margin: 15px;
    margin-right: 20px;
}
.anime-title{
    color: #FFFFFF;
}

.anime-info {
    color: #6f6f6f;
    padding-top: 1px;
    padding-left: 10px;
    font-weight: 400;
}

.anime-alias{
    font-size: 13px;
}

.anime-synopsis{
    font-size: 16px;
    font-weight: 300;
}
.anime-meta .col1 {
    width: 35%;
    float: left;
}
.anime-meta .col2 {
    width: 35%;
    float: left;
    margin-left: 20px;
}

.anime-meta .item {
    color: #6f6f6f;

}

.anime-meta .item-title {
    display: inline;
}

.anime-meta .item-content {
    display: inline;
    margin-left: 5px;    
}