<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <ul>
            <li class="logo"><a href="{{ url_for('landing') }}">ProjectArchive</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <main>
        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </main>
    <footer>
        {{ footer }}
    </footer>
</body>

</html>